body{
    font-family: 'Poppins', sans-serif;
}

/* Header Styles */

.header-background{
    background-color: #264653;
    

}
.left-side:hover{
    text-decoration: underline;
    color: rgb(214, 243, 241);

}

.btn-bg-color{
    background-color: #E76F51;
    width: 168px;
    height: 44px;

}

.text-color{
    color: #000;
}
/* featured part styles */
.grayscale{
    filter: grayscale(100%);
}


.cbr-text-color{
    color: #E76F51;
}
 
/* icon styles */
.fa-star.filled{
    color:#E76F51;
}
.fa-star.empty{
    color: #AEAEAE;
}

/* form styles */
.form-background-color{
    background-color: #264653;

}


